@import url('https://fonts.cdnfonts.com/css/hellobigdeal');

body {
  font-family: 'HelloBigDeal', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/licorne_bg.webp");
  min-width: 100vw;
  min-height: 100vh;
}